USE [master]
GO
/****** Object:  Database [OKUL]    Script Date: 5.01.2024 16:28:23 ******/
CREATE DATABASE [OKUL]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'OKUL', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\OKUL.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'OKUL_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\OKUL_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OKUL].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [OKUL]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 5.01.2024 16:28:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Adres]    Script Date: 5.01.2024 16:28:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Adres](
	[adresID] [int] IDENTITY(1,1) NOT NULL,
	[adresAdi] [nvarchar](100) NOT NULL,
	[adresAciklama] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_dbo.Adres] PRIMARY KEY CLUSTERED 
(
	[adresID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bolum]    Script Date: 5.01.2024 16:28:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bolum](
	[bolumID] [int] IDENTITY(1,1) NOT NULL,
	[bolumAdi] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_dbo.Bolum] PRIMARY KEY CLUSTERED 
(
	[bolumID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Brans]    Script Date: 5.01.2024 16:28:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brans](
	[bransID] [int] IDENTITY(1,1) NOT NULL,
	[bransAdi] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_dbo.Brans] PRIMARY KEY CLUSTERED 
(
	[bransID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ogrenci]    Script Date: 5.01.2024 16:28:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ogrenci](
	[ogrenciID] [int] IDENTITY(1,1) NOT NULL,
	[ogrenciNo] [nvarchar](10) NOT NULL,
	[ogrenciAdi] [nvarchar](20) NOT NULL,
	[ogrenciSoyadi] [nvarchar](30) NOT NULL,
	[dogumTarihi] [datetime] NOT NULL,
	[adres_adresID] [int] NULL,
	[bolum_bolumID] [int] NULL,
 CONSTRAINT [PK_dbo.Ogrenci] PRIMARY KEY CLUSTERED 
(
	[ogrenciID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ogretmen]    Script Date: 5.01.2024 16:28:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ogretmen](
	[ogretmenID] [int] IDENTITY(1,1) NOT NULL,
	[sicilNo] [nvarchar](10) NOT NULL,
	[ogretmenAdi] [nvarchar](20) NOT NULL,
	[ogretmenSoyadi] [nvarchar](30) NOT NULL,
	[adres_adresID] [int] NULL,
	[brans_bransID] [int] NULL,
 CONSTRAINT [PK_dbo.Ogretmen] PRIMARY KEY CLUSTERED 
(
	[ogretmenID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_adres_adresID]    Script Date: 5.01.2024 16:28:24 ******/
CREATE NONCLUSTERED INDEX [IX_adres_adresID] ON [dbo].[Ogrenci]
(
	[adres_adresID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_bolum_bolumID]    Script Date: 5.01.2024 16:28:24 ******/
CREATE NONCLUSTERED INDEX [IX_bolum_bolumID] ON [dbo].[Ogrenci]
(
	[bolum_bolumID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_adres_adresID]    Script Date: 5.01.2024 16:28:24 ******/
CREATE NONCLUSTERED INDEX [IX_adres_adresID] ON [dbo].[Ogretmen]
(
	[adres_adresID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_brans_bransID]    Script Date: 5.01.2024 16:28:24 ******/
CREATE NONCLUSTERED INDEX [IX_brans_bransID] ON [dbo].[Ogretmen]
(
	[brans_bransID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Ogrenci]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Ogrenci_dbo.Adres_adres_adresID] FOREIGN KEY([adres_adresID])
REFERENCES [dbo].[Adres] ([adresID])
GO
ALTER TABLE [dbo].[Ogrenci] CHECK CONSTRAINT [FK_dbo.Ogrenci_dbo.Adres_adres_adresID]
GO
ALTER TABLE [dbo].[Ogrenci]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Ogrenci_dbo.Bolum_bolum_bolumID] FOREIGN KEY([bolum_bolumID])
REFERENCES [dbo].[Bolum] ([bolumID])
GO
ALTER TABLE [dbo].[Ogrenci] CHECK CONSTRAINT [FK_dbo.Ogrenci_dbo.Bolum_bolum_bolumID]
GO
ALTER TABLE [dbo].[Ogretmen]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Ogretmen_dbo.Adres_adres_adresID] FOREIGN KEY([adres_adresID])
REFERENCES [dbo].[Adres] ([adresID])
GO
ALTER TABLE [dbo].[Ogretmen] CHECK CONSTRAINT [FK_dbo.Ogretmen_dbo.Adres_adres_adresID]
GO
ALTER TABLE [dbo].[Ogretmen]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Ogretmen_dbo.Brans_brans_bransID] FOREIGN KEY([brans_bransID])
REFERENCES [dbo].[Brans] ([bransID])
GO
ALTER TABLE [dbo].[Ogretmen] CHECK CONSTRAINT [FK_dbo.Ogretmen_dbo.Brans_brans_bransID]
GO
USE [master]
GO
